obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.dotCover
builds
Sources/packages
*.suo
*.user
*.cache
*.ncrunchsolution
*.ncrunchproject
*.dll
*.pdb
*_NCrunch_*
*.DotSettings
.project
.vs
.publish